:root {
  font: 16px / 1 'Inika', serif;
  --purple-0: #b271d6;
  --purple-1: #5a2b78;
  --purple-2: #371a4a;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--purple-1);
  color: white;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header,
footer {
  background-color: var(--purple-2);
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 1rem;
  color: var(--purple-0);
}

header .avatar {
  margin: 0 1rem -50%;
  background-image: url('./images/square.svg');
  height: 64px;
  width: 64px;
  padding: 0.4rem;
}

h1 {
  margin: 48px 32px 32px;
  text-align: center;
}

h1 img {
  width: 100%;
  max-width: 480px;
}

.search {
  display: flex;
  justify-content: center;
}

.search input {
  font: 1.25rem 'Inika', serif;
  border: none;
  color: var(--purple-1);
  padding: 0.5rem;
  border-image: url('./images/box.svg') 10% / 0.4rem / 0.4rem round;
}

.map {
  margin: 2rem 1rem;
  border: medium solid var(--purple-0);
  border-image: url('./images/map-border.svg') 20 fill / 1rem / 0.5rem stretch;
}

footer {
  text-align: center;
}
